<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ErpUygulama</title>
    <h1 style="font-size:30px; font-style: oblique;text-align: left; color: chocolate;">Belge Detayı</h1>

    

<body>




    <form>
        
            <input style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="submit"
                name="Kaydet" id="Kaydet" value="Kaydet">
            <input style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="submit"
                name="Yeni Kayıt" id="YeniKayıt" value="YeniKayıt">
            <input style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="submit"
                name="Efatura" id="Efatura" value="Efatura">

            <br>

            <b>
                <div style="font-size: 14px; font-style: italic; text-align: left; color: crimson;"> Fatura Tipi
            </b>
            <select style=" font-size: 12px; margin: 20px 10px; display: inline-block; padding:5px 10px;">
                <option value="title"></option>
                <b>
                    <option style="text-align: start; font-style: unset;" value="title">Efatura </option>
                </b>

                </div>

            </select>

            <b>
                <div style="font-size: 14px; font-style: italic; text-align: left; color: crimson;"> İşlem Şubesi
            </b>
            <select style=" font-size: 12px; margin: 20px 10px; display: inline-block; padding:5px 10px;">
                <option value="title"></option>
                <b>
                    <option style="text-align: start; font-style: unset;" value="title">Dnzbnkçekmeköy</option>
                </b>


                </div>
            </select>




            <b>
                <div style="font-size: 14px; font-style: italic; text-align: left; color: crimson; "> Şirket
            </b>
            <select style=" font-size: 12px; margin: 20px 10px; display: inline-block; padding:5px 10px;">
                <option value="title"></option>
                <b>
                    <option style="text-align: start; font-style: unset;" value="title"></option>
                </b>






            </select>
            </div>
        
    



        <b>
            <div style="font-size: 14px; font-style: oblique; text-align: left; color: crimson;"> Döküman tipi
        </b>
        <select style=" font-size: 12px; margin: 20px 10px; display: inline-block; padding:5px 10px;">
            <option value="title"></option>
            <b>
                <option style="text-align: start; font-style: unset;" value="title">,,,,,,</option>
            </b>

            </div>

    </form>

    <select name="Dökümasyon Bilgisini Göster" id="">
        <input style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="submit"
            name="Döküman Bilgisini Göster" id="Dökümasyon Bilgisini Göster" value="Dökümasyon Bilgisini Göster">
    </select>

    <br>

    <b style="color: blue;"> Komite var mı ? <input
            style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="checkbox"
            name="Komite var mı?" id="Komite" value="Komite var mı?">

        <b style="color: blue;"> MB Kararı var mı ? <input
                style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="checkbox"
                name="MB Kararı  var mı?" id="MB Kararı" value="MB Kararı  var mı?">
        </b>

        <b style="color: blue;"> Sözleşmeli mi ? <input
            style="font-size: 10px; margin:20px 10px; display: inline-block; padding: 5px 10px;" type="checkbox"
            name="Sözleşmeli mi?" id="Sözleşmeli" value="Sözleşmeli mi">
    </b>


</body>

</html>
